Room = {'length':10, 'width':10}
#Options = {'warranty': 100, 'delivery' : 35, 'first_installation': 75, 'stain_gaurd': 30}
warranty = 100
delivery =35
first_installation = 75
stain_gaurd = 30
Carpet_type = {'Berber': 5.09, 'texture': 3.69, 'pattern' : 2.89}
Promo_code = "ADAROCKS"


room_sqft = 1
for key in Room:
    room_sqft = room_sqft * Room[key]

i = 1
for i in  Carpet_type:
   i = list(Carpet_type.values())[0]* room_sqft

print(f'The cost is {i + delivery + first_installation}')


